[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
mysqlclient = "==2.1.1"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"
django-redis = "*"
gunicorn = "*"
dj-database-url = "*"
django-silk = "*"
django-cors-headers="*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.9"
