[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
mysqlclient = "==2.1.1"
django-cors-header = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
